[submodule "Odysseus/vendor/spdlog"]
	path = Odysseus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Odysseus/vendor/GLFW"]
	path = Odysseus/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
